%hr   
.row
  .span7
    %h2 Something went wrong!
    %p
      If you tried to submit your information to Share My Share, you may have left some information blank and/or you don't have javascript enabled. 
      =link_to "Please go back", "/" 
      and try again.
    %p  
      If you have any questions, feel free to contact us at 
      = link_to "share.the.share.info@gmail.com", "mailto:share.the.share.info@gmail.com"
    %p
      =link_to "&laquo; back to Share my Share", "/"