.row
  .span4
    %h2 
      Feed Chicago's hungry with your extra CSA boxes
    %p
      Share my Share is an easy way to donate your CSA share. Tell us when you can’t make it to the market, and we will arrange for a local food pantry to pick up your box. All you need to do is give us your info to the right.
    %p
      Right now, Share my Share is only available for the Logan Square Farmer’s Market. If you want us to come to your market or have a question, 
      get in touch at
      = link_to "share.the.share.info@gmail.com", "mailto:share.the.share.info@gmail.com"
  
  .span1
    %p &nbsp;
  
  .span7
    %h3 Fill out your info. We'll arrange the pickup.

    %form.well{:action => "/send", :method => "POST"}
      .control-group
        %label Select your CSA/farm
        %select.span4{:id => "CSA", :name => "post[CSA]"}
          %option{:value => ""} -- Select --
          %option{:value => "The Gentleman Farmer"} The Gentleman Farmer
          %option{:value => "Granor Farms"}Granor Farms
          %option{:value => "Iron Creek Farms"} Iron Creek Farms
          %option{:value => "Montalbano Farms"} Montalbano Farms
          %option{:value => "Radical Root"} Radical Root

      .control-group
        %label Select your farmer's market
        %select.span4{:id => "FarmersMarket", :name => "post[Farmers Market]"}
          %option{:value => "Logan Square Farmer's Market"} Logan Square Farmer's Market
      
      .control-group
        %label 
          Pick-up date
        #dateElement1.clonedInput  
          %input.span2#pickUpDate1{:name => "post[Pick Up Date 1]", :type => "text"}
          %br
      %p.help-block
        %a{:href => "#", :id => "addDate"} 
          %i.icon-plus
          add another date
        |
        %a{:href => "#", :id => "delDate"} 
          %i.icon-minus
          remove date
      
      .control-group
        %label Your name
        %input.span4{:id => "Name", :name => "post[Name]", :placeholder => "Name of CSA subscriber", :type => "text"}
      
      .control-group
        %label Your email
        %input.span4{:id => "Email", :name => "post[Email]", :placeholder => "Email of CSA subscriber", :type => "text"}
      %span.help-block We will never spam you or give your email to others.
          
      %button.btn.btn-danger.btn-large{:type => "submit"} 
        Donate my CSA box
        
%hr      
.row
  .span12
    %h2 Where does my CSA box go?
.row
  .span7
    %p
    We have partnered with <a href='http://www.stlukesls.org/#/community-health/elijahs-pantry'>Elijah's Pantry</a>, 
    a food pantry serving over 600 families in Logan Square and Avondale each month, to collect and distribute your 
    donations. Elijah's Pantry works in collaboration with <a href='http://www.chicagosfoodbank.org'>The Greater 
    Chicago Food Depository</a>, a nonprofit food distribution center providing food for hungry people throughout 
    the greater Chicago area.
    
  .span1
    %p &nbsp;    
  
  .span4
    = image_tag "foodpantry.jpg"
      
%hr   
.row
  .span12
    %h2 Thank you to our partners and collaborators
    %p
      We'd like to thank all of our partners, farmers and collaborators that made this site possible. They are, in no particular order:
    %ul
      %li Our partner farmers: <a href='http://www.radicalrootfarm.com/'>Radical Root</a>, <a href='http://www.montalbanofarms.com/'>Montalbano Farms</a>, <a href='http://granorfarm.com/'>Granor Farms</a>, <a href='http://www.gentleman-farmer.com/'>The Gentleman Farmer</a> and <a href='http://www.ironcreekfarm.com/'>Iron Creek Farms</a>
      %li <a href='http://www.lsna.net/'>The Logan Square Neighborhood Association</a>
      %li <a href='http://www.logansquarefarmersmarket.org/'>The Logan Square Farmers Market</a>
      %li <a href='http://www.chicagosfoodbank.org'>The Greater Chicago Food Depository</a>