.hero-unit
  %h1 Share the Share
  %p.tagline Some tagline
    
/ Example row of columns
.row
  .span4
    %h2 Thing 1!
  .span4
    %h2 Thing 2!
  .span4
    %h2 Thing 3!
%hr
  %footer
    %p © Company 2012
