!!!
%html{:lang => "en"}
  %head
    %title Share my Share
    %meta{:charset => "utf-8"}
    
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
            
    / Styles
    %link{:href => "/stylesheets/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/custom.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/jquery-ui.css", :rel => "stylesheet"}
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    
    / fav and touch icons
    %link{:href => "favicon.ico", :rel => "shortcut icon"}
    
  %body
    %a{:href => "/", :title => "Home"}
      %img#header-logo{:src => "images/logo-wide.png", :alt => "Share my Share", :title => "Share my Share"}
    
    .container
      = yield
      
      %hr
      .footer
        %p
          A site by Megan Kelly, Forest Gregg, Aya O'Connor and Derek Eder &copy; 2012
    
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/bootstrap.js"}
    %script{:src => "/javascripts/jquery-ui.min.js"}
    %script{:src => "/javascripts/application.js"}
    
    - if production?
      %script{:src => "/javascripts/analytics_lib.js"}

    