%hr   
.row
  .span8
    %h2 Thanks for sharing your share!
    %p
      We have received your information and we'll make sure a family in need receives your share. 
    %p  
      If you have any questions, feel free to contact us at <a href='mailto:share.the.share.info@gmail.com'>share.the.share.info@gmail.com</a>.
    %p  
      Thanks for using Share My Share!
    %p
      =link_to "&laquo; back to Share my Share", "/"